<form id="nl-form" class="nl-form" action="/results">
  I live in
  <select name="location_from">
    <option value="Ipswich">Ipswich</option>
    <option value="Slough">Slough</option>
    <option value="High-Wycombe">High-Wycombe</option>
    <option value="Coventry">Coventry</option>
    <option value="Nuneaton">Nuneaton</option>
  </select>.
  I'd like to work in
  <select name="location_to">
    <option value="Reading">Reading</option>
    <option value="London">London</option>
    <option value="Bristol">Bristol</option>
    <option value="Sevenoaks">Sevenoaks</option>
    <option value="Cranbrook">Cranbrook</option>
  </select> and I'm interested in <input type="text" value="" name="keyword" placeholder="..." data-subline="For example, <em>Football</em> or <em>Engineering.</em>"/>
  <div class="wrapgoogle">
    <button class="googlebutton">Search</button>
    <button class="googlebutton">I'm feeling lucky!</button>
  </div>
  <div class="nl-overlay"></div>
</form>