<form id="nl-form" class="nl-form">
  I live in
  <select>
    <option value="1">High-Wycombe</option>
    <option value="2">Slough</option>
    <option value="3">Gibralter</option>
    <option value="4">Coventry</option>
    <option value="2">Nuneaton</option>
  </select>.
  I'd like to work in
  <select>
    <option value="1">Reading</option>
    <option value="2">London</option>
    <option value="3">Bristol</option>
    <option value="4">Sevenoaks</option>
    <option value="2">Cranbrook</option>
  </select>
  .and I'm interested in <input type="text" value="" placeholder="Interest" data-subline="For example, <em>Football</em> or <em>Engineering.</em>"/>
  <div class="wrapgoogle">
    <button class="googlebutton">I'm feeling lucky!</button>
  </div>
  <div class="nl-overlay"></div>
</form>