/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 4, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/main.css.scss */
#map-canvas {
  width: 100%;
  height: 600px;
}

/* line 8, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/main.css.scss */
.tooltip {
  background: pink;
  border: 1px solid grey;
  padding: 4px;
  border-radius: 2px;
}

/* line 15, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/main.css.scss */
.api * {
  color: #333;
}
/* line 18, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/main.css.scss */
.api #map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}
/* line 25, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/main.css.scss */
.api .toggle {
  position: absolute;
  top: 20px;
  left: 80px;
  z-index: 10;
  background: #eee;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 4px 4px;
}
/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* line 5, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 9, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 10, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.clearfix:after {
  clear: both;
}

/* line 12, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #ffe8e7;
  background: #eee;
  font-weight: 300;
  overflow-x: hidden;
}

/* line 19, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
body.nl-blurred {
  color: black;
}

/* line 23, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
a {
  color: #888;
  text-decoration: none;
}

/* line 29, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
a:hover,
a:active {
  color: black;
}

/* Header Style */
/* line 35, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.main,
.container > header {
  margin: 0 auto;
  padding: 2em;
}

/* line 40, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.container > header {
  text-align: center;
  background: rgba(0, 0, 0, 0.01);
}

/* line 45, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.container > header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

/* line 52, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.container > header span {
  display: block;
  font-size: 60%;
  color: black;
  padding: 0 0 0.6em 0.1em;
}

/* Main Content */
/* line 60, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.main {
  max-width: 50em;
}

/* To Navigation Style */
/* line 65, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
}

/* line 74, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: black;
  font-weight: 700;
  display: inline-block;
}

/* line 82, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

/* line 87, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-top span.right {
  float: right;
}

/* line 91, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-top span.right a {
  float: left;
  display: block;
}

/* line 96, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 108, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-icon-drop:before {
  content: "\e001";
}

/* line 112, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-icon-prev:before {
  content: "\e004";
}

/* line 116, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-icon-archive:before {
  content: "\e002";
}

/* line 120, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-icon-next:before {
  content: "\e000";
}

/* line 124, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.codrops-icon-about:before {
  content: "\e003";
}

@media screen and (max-width: 25em) {
  /* line 130, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
  .codrops-icon span {
    display: none;
  }
}
@font-face {
  font-family: 'nlicons';
  src: url("/assets/nlicons.eot");
  src: url("/assets/nlicons.eot?#iefix") format("embedded-opentype"), url("/assets/nlicons.woff") format("woff"), url("/assets/nlicons.ttf") format("truetype"), url("/assets/nlicons.svg#nlicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* general style for the form */
/* line 148, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-form {
  width: 100%;
  margin: 0.3em auto 0 auto;
  font-size: 4em;
  line-height: 1.5;
}

/* line 155, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* normalize the input elements, make them look like everything else */
/* line 164, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-form input,
.nl-form select
.nl-form button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 179, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-form input:focus {
  outline: none;
}

/* custom field (drop-down, text element) styling  */
/* line 184, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field {
  display: inline-block;
  position: relative;
}

/* line 189, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
/* line 196, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field-toggle,
.nl-form input,
.nl-form select {
  line-height: inherit;
  display: inline-block;
  color: black;
  cursor: pointer;
  border-bottom: 1px dashed #b14943;
}

/* drop-down list / text element */
/* line 205, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #bcbcbc;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

/* line 221, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

/* line 232, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field ul li {
  color: #eee;
  position: relative;
}

/* line 237, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

/* line 243, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-dd ul li.nl-dd-checked {
  color: grey;
}

/* line 247, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.no-touch .nl-dd ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* line 251, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.no-touch .nl-dd ul li:hover:active {
  color: black;
}

/* icons for some elements */
/* line 257, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-dd ul li.nl-dd-checked:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 267, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

/* line 275, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-ti-text ul {
  min-width: 8em;
}

/* line 279, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

/* line 286, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  width: 1.8em;
  text-align: center;
  color: transparent;
}

/* line 298, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

/* custom placeholder color */
/* line 308, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 313, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
input:active::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

/* line 317, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 322, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

/* line 326, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 331, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
input:active::-ms-input-placeholder,
input:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

/* example field below text input */
/* line 336, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0, 0, 0, 0.2);
  border-top: 1px dashed rgba(255, 255, 255, 0.7);
}

/* line 345, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-ti-text ul li.nl-ti-example em {
  color: white;
}

/* submit button */
/* line 350, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-submit-wrap {
  margin-top: 0.4em;
}

/* line 354, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-form .nl-submit {
  line-height: 3;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #76C3BD;
  color: #fff;
  padding: 0 1em 0 0;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 3px;
}

/* line 367, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.googlebutton {
  background-color: #d14836;
  font-size: 22px;
  background-image: -webkit-linear-gradient(center top, #dd4b39, #d14836);
  border: 1px solid transparent;
  color: #fff;
  border-radius: 2px;
  font-size: 22px;
  height: 60px;
  min-width: 200px;
  white-space: nowrap;
}

/* line 380, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.googlebutton:hover {
  background-color: #C53727;
  background-image: -webkit-linear-gradient(center top, #dd4b39, #c53727);
  border: 1px solid #b0281A;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 389, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-submit:before {
  color: #fff;
  float: left;
  padding: 0 0.7em 0 0.7em;
  margin: 0 0.8em 0 0;
  background: #69B1A9;
}

/* line 398, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
  background: #69B1A9;
}

/* line 402, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.no-touch .nl-form .nl-submit:hover:before {
  background: #58a199;
}

/* overlay becomes visible when a field is opened */
/* line 407, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

/* line 422, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-width: 45em) {
  /* line 431, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
  .nl-form {
    font-size: 3em;
  }
}
@media screen and (max-width: 25em) {
  /* line 437, /Users/anders/rewired/lmi-geo-data/app/assets/stylesheets/shad.scss */
  .nl-form {
    font-size: 2em;
  }
}
