<% if @distance %>
    <h3>
      Your journey to work would be approximately <%= @distance %><br>
      If you drove that distance it would be roughly <%= number_to_currency( ((@distance[0..-4].to_f) * 0.24), unit: '£') %> to drive there every day.
    </h3>
<% else %>
  <p>Something went wrong</p>
<% end %>