#map-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index:0;
}

.results-title {
  position: absolute;
  top: 20px;
  left: 80px;
  z-index: 1000000;
  width: 40%;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}

.tooltip{
  background:pink;
  border: 1px solid grey;
  padding:4px;
  border-radius:2px;
}
#popup{
  position:absolute;
  display:none;
  top:20px;
  left:20px;
  z-index:1000;
  background:white;
  width:400px;
  height:400px;
}
.api{
  *{
    color:#333;
  }
  #map-canvas{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    z-index:0;
  }
  .toggle{
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: 10;
    background: #eee;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 4px 4px;
  }
}