#map-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index:0;
}

.results-title {
  font-size: 16px;
  position: absolute;
  display: inline-block;
  top: 60px;
  left: 60px;
  z-index: 1000000;
  max-width: 60%;
  padding: 0;
  background-color: rgba(255,255,255,0.8);
  p { padding: 7px 7px 2px; }
}

a.toggle {
  display: block;
  font-size: 12px;
  background-color: #FF0088;
  padding: 3px 10px;
  color: white;
  

    &:hover {
      color: white;
      text-decoration: underline;
    }
  
}

.journey-info {
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,.95);

  .summary {
    font-size: 12px;
  }
}

.tooltip{
  background:pink;
  border: 1px solid grey;
  padding:4px;
  border-radius:2px;
}

#popup{

  display:none;
  padding: 20px;
}

.api{
  *{
    color:#333;
  }
  #map-canvas{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    z-index:0;
  }
  .toggle{
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: 10;
    background: #eee;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 4px 4px;
  }
}


@media (min-width: 400px) {

  .results-title {
    left: 80px;
  }
}


@media (min-width: 600px) {

  .results-title {
    font-size: 24px;
  }

  .journey-info .summary {
    font-size: 24px;
  }

}

@media (min-width: 600px) {
  .results-title {
    top: 60px;
    font-size: 28px;
  }
}